<div class="card">
  <%= link_to image_tag(webtype.image, class: :card__img ), webtype_path(webtype)%>
  <div class="card__body">
    <%= link_to webtype.title, webtype_path(webtype), class: :card__title%>
    <p class="card__summary">
      <%= webtype.catch_copy %>
    </p>
    <%= link_to "by #{webtype.user.name}", user_path(webtype.user), class: :card__user %>
  </div>
</div>